.vjs-control.vjs-danmaku-control {
	float: right;
	margin-top: -24px;
	margin-right: 50px;
	width: 0px;
}

.danmaku-menu-switcher-button {
	border: 0;
	background: black;
	color: white;
	width: 90px;
	outline: none;
}

.danmaku-composer {
	width: 360px;
	height: 30px;
	visibility: hidden;
}

.vjs-control.vjs-danmaku-control:hover .danmaku-composer {
	visibility: visible;
}


.danmaku-composer input[type=text] {
	width: 300px;
	float: left;
	font-size: 16px;
}

.danmaku-composer button {
	border: solid 1px #555;
	color: white;
	background-color: black;
	font-size: 16px;
	float: left;
}
