.vjs-control.vjs-danmaku-control {
	float: right;
	width: 100px;
}

.danmaku-menu-switcher-button {
	height: 30px;
	border: 0;
	background: transparent;
	color: white;
	outline: none;
	text-shadow: 0 0 1px #000,0 0 2px #000, 0 0 5px #000;
}

.danmaku-menu-switcher-button:hover {
	cursor: pointer;
	text-shadow: 0 0 1em white;
}

.danmaku-composer {
	width: 360px;
	height: 30px;
	position: absolute;
	left: 100px;
	visibility: hidden;
}

.vjs-control.vjs-danmaku-control:hover .danmaku-composer {
	visibility: visible;
}


.danmaku-composer input[type=text] {
	width: 285px;
	height: 24px;
	float: left;
	font-size: 16px;
}

.danmaku-composer button {
	height: 30px;
	width: 50px;
	border: solid 1px #555;
	color: white;
	background-color: black;
	font-size: 16px;
	float: left;
}
