<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/danmaku.css">
</head>
<body>

<div class="danmaku-menu">
</div>

<div class="danmaku-comments">
</div>

<script type="text/javascript" src="/js/vendor.js"></script>
<script>
var commentViewerDom = document.getElementsByClassName('danmaku-comments')[0];
var commentViewer = Elm.CommentViewer.embed(commentViewerDom);

var menuDom = document.getElementsByClassName('danmaku-menu')[0];
var menu = Elm.Menu.embed(menuDom, {
	anilistId: 123,
	filename: "Baby Step[45].mp4"
});
menu.ports.comments.subscribe(function(comments) {
	commentViewer.ports.slidingComments.send(comments);
});
</script>
</body>
</html>